@model IEnumerable<LivroRecomendacao.ViewModels.LivroListViewModel>

@{
    ViewData["Title"] = "Index";
}





<div class="container">
    <h1>Seus livros favoritos</h1>
    @foreach (var item in Model)
    {
        <div class="card float-right mb-2">
            <div class="row">
                <div class="col-sm-5">
                    <img class="d-block w-100" src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="">
                </div>
                <div class="col-sm-7 p-3">
                    <div class="card-block">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h4>
                        <p>@Html.DisplayFor(modelItem => item.NomeAutor)</p>
                        <p>@Html.DisplayFor(modelItem => item.Descrico)</p>
                        <br>
                        <a href="#" class="btn btn-danger btn-sm float-right">Desfavoritar</a>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

